.app {
  display: flex;
  flex-direction: column;
}
.header-container {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  padding: 15px;
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav-container {
  display: flex;
}

.nav-buttons {
  background-color: whitesmoke;
  font-size: 16px;
  color: #b71d1d;
  font-weight: 500px;
  font-family: "Roboto Regular";
  border-color: #b71d1d;
  border-style: solid;
  width: 80px;
  margin: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.welcome-section {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 600px;
  justify-content: center;
  align-items: center;
}
.welcome-title {
  padding: 5px;
  font-weight: 700;
  font-size: 3em;
  font-family: "Roboto Bold";
}
.welcome-text {
  font-weight: 300;
  font-family: "Roboto Light";
  padding: 5px;
}
.avatar-icon {
  width: 90px;
  height: 120px;
}
.basic-section {
  background-color: #b71d1d;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.basic-section-title {
  padding: 10px;
  font-size: 3em;
  font-weight: 1000px;
  font-family: "Roboto Bold";
  color: aliceblue;
}
.basic-section-text {
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto Light";
  color: aliceblue;
  padding-left: 70px;
  padding-right: 70px;
}
.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-device-width: 480px) {
  [class="skills-container"] {
    flex-direction: column;
  }
}

.tech-container {
  display: flex;
  height: 700px;
  flex-direction: column;
  flex: 1;
  padding: 50px;
  margin-right: 10px;
}
.tech-logo {
  height: 50px;
  width: 50px;
  align-self: center;
}
.tech-title {
  align-self: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto";
}
.tech-subheading {
  align-self: center;
  color: #b71d1d;
  font-size: 20px;
}
.backend-container {
  display: flex;
  height: 700px;

  flex-direction: column;
  flex: 1;
  padding: 50px;
  margin-right: 10px;
}
.backend-logo {
  height: 50px;
  width: 50px;
  align-self: center;
}
.backend-title {
  align-self: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto";
}
.ai-container {
  display: flex;
  height: 700px;
  flex-direction: column;
  flex: 1;
  padding: 50px;
}
.ai-logo {
  height: 50px;
  width: 50px;
  align-self: center;
}
.ai-title {
  align-self: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto";
}
.tech-list {
  align-self: center;
}
.mailing-list-container {
  display: flex;
  background-color: #b71d1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscription-form {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.email-field {
  padding-left: 10px;
  margin-right: 40px;
  font-family: "Roboto Bold";
  width: 200px;
  height: 35px;
  background-color: whitesmoke;
  border: whitesmoke;
  border-width: 200px;
}
.input-subscribe {
  background-color: #b71d1d;
  font-family: "Roboto Bold";
  font-size: 20px;
  height: 35px;
  color: whitesmoke;
  border-style: solid;
}
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 15px;
  width: 100%;
  height: 180px;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  height: 60px;
  width: 60px;
  margin-bottom: 30px;
}
.social-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-logo {
  height: 15px;
  width: 15px;
  margin-right: 20px;
}
